{% extends "base.html" %}
{% block title %}Echo | {{echo.id}}{% endblock title %}
{% block body %}
<table>
  <p>Content: {{echo.content}}</p>
  <p>Created at: {{echo.created_at}}</p>
  <p>Updates at: {{echo.updated_at}}</p>
  <p>Creator: {{echo.user}}</p>
  <a href="{%url 'echos:echos-list'%}">Back</a>
  {% if echo.user == request.user %}
    <a href="{% url 'echos:echo-edit' echo.pk %}">Edit</a>
  {% endif %}
  
</table>
{%for wave in waves%}
    <li>
      <p>Wave: {{wave.pk}} User: {{wave.user}}</p>  
      <p>{{wave.content}}</p> 
    </li>
{% endfor %}
{% if more %}
<a href="{% url 'echos:echo-waves' echo.pk %}"><button>Show More</button></a>
{% endif %}
{% endblock body %}